trigger: none
#trigger:
#  branches:
#    include:
#      - main
#  paths:
#    include:
#      - src/**

parameters:
  - name: azureServiceConnection
    displayName: 'Azure Service Connection Name'
    type: string
    default: 'cloud-monitor-connection'
  - name: appServiceName
    displayName: 'App Service Name'
    type: string
    default: 'cloud-monitor-app-prod'
  - name: buildConfiguration
    displayName: 'Build Configuration'
    type: string
    default: 'Release'
  - name: dotnetVersion
    displayName: '.NET Version'
    type: string
    default: '10.x'
  - name: runtimeStack
    displayName: 'Runtime Stack'
    type: string
    default: 'DOTNETCORE|10.0'
  - name: aspNetCoreEnvironment
    displayName: 'ASP.NET Core Environment'
    type: string
    default: 'Production'

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: ${{ parameters.buildConfiguration }}
  dotnetVersion: ${{ parameters.dotnetVersion }}
  # Will use the Azure CLI variable if it exists, otherwise fall back to the parameter default.
  aspNetCoreEnvironment: $[ coalesce(variables.aspNetCoreEnvironment, '${{ parameters.aspNetCoreEnvironment }}') ]

stages:
  - stage: Build
    displayName: 'Build and Test'
    jobs:
      - job: BuildJob
        displayName: 'Build .NET Application'
        steps:
          - task: UseDotNet@2
            displayName: 'Install .NET SDK'
            inputs:
              version: $(dotnetVersion)

          - task: DotNetCoreCLI@2
            displayName: 'Restore NuGet Packages'
            inputs:
              command: 'restore'
              projects: 'src/**/*.csproj'

          - task: DotNetCoreCLI@2
            displayName: 'Build Solution'
            inputs:
              command: 'build'
              projects: 'src/**/*.csproj'
              arguments: '--configuration $(buildConfiguration) --no-restore'

          - task: DotNetCoreCLI@2
            displayName: 'Run Tests'
            inputs:
              command: 'test'
              projects: 'src/**/*Tests.csproj'
              arguments: '--configuration $(buildConfiguration) --no-build'

          - task: DotNetCoreCLI@2
            displayName: 'Publish Application'
            inputs:
              command: 'publish'
              projects: 'src/CloudMonitor.Api/CloudMonitor.Api.csproj'
              arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory) --no-build'
              zipAfterPublish: true

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Application Artifact'
            inputs:
              pathToPublish: '$(Build.ArtifactStagingDirectory)'
              artifactName: 'app'

  - stage: Deploy
    displayName: 'Deploy to Azure'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DeployApp
        displayName: 'Deploy Web API'
        steps:
          - download: current
            artifact: app

          - task: AzureWebApp@1
            displayName: 'Deploy to App Service'
            inputs:
              azureSubscription: ${{ parameters.azureServiceConnection }}
              appType: 'webAppLinux'
              appName: ${{ parameters.appServiceName }}
              package: '$(Pipeline.Workspace)/app/**/*.zip'
              runtimeStack: ${{ parameters.runtimeStack }}
              appSettings: '-ASPNETCORE_ENVIRONMENT $(aspNetCoreEnvironment)'
